<div class="container" id="content">

  <article class="message" id="devMsg">
    <div class="message-header">
      <p>Hello there!</p>
      <button class="delete" aria-label="delete" id="deleteMsg"></button>
    </div>
    <div class="message-body">
      You are currently using the alpha version <strong> Only for Testing Purposes </strong> This Alpha version contains Two Games ,for Book 2.<br>Book 1 and 3 will be available in the Beta Version
    </div>
  </article>

  <div class="columns">
    <div class="column is-one-third">

      <div class="card cardmain animate__animated" id="book-1">
        <div class="card-content">           
          <div class="content">
            <p class="title is-centered"></p>
          </div>
        </div>
      </div>

      

    </div>
    <div class="column is-one-third">

      <div class="card cardmain animate__animated" id="book-2">
        <div class="card-content">           
          <div class="content">
            <p class="title is-centered"></p>
          </div>
        </div>
      </div>

      

    </div>
    <div class="column is-one-third">

      <div class="card cardmain animate__animated" id="book-3">
        <div class="card-content">           
          <div class="content">
            <p class="title is-centered"></p>
          </div>
        </div>
      </div>

      

    </div>
</div>

</div>