<div class="column is-offset-one-fifth">

  <h1 class="title is-1" id="book-title">BOOK ONE</h1>

        <div class="columns">
          <div class="column is-3">

            <div class="card unit" id="unit-1">
              <div class="card-content">           
                <div class="content">
                  <p class="title is-centered" id="unitTitle-1">Coming Soon</p>
                </div>
              </div>
            </div>

            

          </div>
          <div class="column is-3">

            <div class="card unit" id="unit-2">
              <div class="card-content">           
                <div class="content">
                  <p class="title is-centered" id="unitTitle-2">Coming Soon</p>
                </div>
              </div>
            </div>

            

          </div>
          <div class="column is-3">

            <div class="card unit" id="unit-3">
              <div class="card-content">           
                <div class="content">
                  <p class="title is-centered" id="unitTitle-3">Coming Soon</p>
                </div>
              </div>
            </div>

            

          </div>


      </div>

<!--------------------------------------------------------------------------------->
        <div class="columns">
          <div class="column is-3">

            <div class="card unit" id="unit-4">
              <div class="card-content">           
                <div class="content">
                  <p class="title is-centered" id="unitTitle-4">Coming Soon</p>
                </div>
              </div>
            </div>

            

          </div>
          <div class="column is-3">

            <div class="card unit" id="unit-5">
              <div class="card-content">           
                <div class="content">
                 <p class="title is-centered" id="unitTitle-5">Coming Soon</p>
                </div>
              </div>
            </div>

            

          </div>
          <div class="column is-3">

            <div class="card unit" id="unit-6">
              <div class="card-content">           
                <div class="content">
                  <p class="title is-centered" id="unitTitle-6">Coming Soon</p>
                </div>
              </div>
            </div>

            

          </div>


      </div>
<!--------------------------------------------------------------------------------->
        <div class="columns">
          <div class="column is-3">

            <div class="card unit" id="unit-7">
              <div class="card-content">           
                <div class="content">
                  <p class="title is-centered" id="unitTitle-7">Coming Soon</p>
                </div>
              </div>
            </div>

            

          </div>
          <div class="column is-3">

            <div class="card unit" id="unit-8">
              <div class="card-content">           
                <div class="content">
                  <p class="title is-centered" id="unitTitle-8">Coming Soon</p>
                </div>
              </div>
            </div>

            

          </div>
          <div class="column is-3">

            <div class="card unit" id="unit-9">
              <div class="card-content">           
                <div class="content">
                  <p class="title is-centered" id="unitTitle-9">Coming Soon</p>
                </div>
              </div>
            </div>

            

          </div>


      </div>


</div>