<div class="container" id="content">

        <div class="columns">
          <div class="column is-one-third">

            <div class="card" id="book-1">
              <div class="card-content">           
                <div class="content">
                  <p class="title is-centered">Madi</p>
                </div>
              </div>
            </div>

            

          </div>
          <div class="column is-one-third">

            <div class="card" id="book-2">
              <div class="card-content">           
                <div class="content">
                  <p class="title is-centered">Madi</p>
                </div>
              </div>
            </div>

            

          </div>
          <div class="column is-one-third">

            <div class="card" id="book-3">
              <div class="card-content">           
                <div class="content">
                  <p class="title is-centered">Madi</p>
                </div>
              </div>
            </div>

            

          </div>
      </div>
    </div>