   <div class="container" id="content">

    <!------------------------------Video Modal----------------------------->
    <div class="modal" id="modal-unit">
      <div class="modal-background">
        <section class="hero is-success is-fullheight">
          <div class="hero-body">
            <div class="container">
              <div class="video-player">
                <video src="" controls></video>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-content">
      </div>
      <button class="modal-close is-large" aria-label="close" id="close-Modal"></button>
    </div>
    <!------------------------------End of Video Modal----------------------------->





        <section class="hero" id="video">
          <!-- Hero content: will be in the middle -->
          <div class="hero-body">
            <div class="container has-text-centered">
              <h1 class="title" id="unitHead">
                UNIT 1 TOYS
              </h1>
              <div class="animate__animated animate__rubberBand animate__infinite">
                <p id="play-video">PLAY VIDEO</p>
              </div>



            </div>
          </div>
        </section>

        <h4 class="title is-4 gamestitle">PREVIEW</h4>

       <section id="games-1">

          <div class="columns">
            <div class="column is-3">

              <div class="card cardgames" id="previewGame1">
                <div class="card-content">
                  <div class="content">
                    <p class="is-centered">Matcher</p>
                  </div>
                </div>
              </div>



            </div>
            <div class="column is-3">

              <div class="card cardgames"id="previewGame2">
                <div class="card-content">
                  <div class="content">
                    <p class="is-centered">Coming Soon</p>
                  </div>
                </div>
              </div>



            </div>
            <div class="column is-3">

              <div class="card cardgames" id="previewGame3">
                <div class="card-content">
                  <div class="content">
                    <p class="is-centered">Coming Soon</p>
                  </div>
                </div>
              </div>



            </div>
            <div class="column is-3">

              <div class="card cardgames" id="previewGame4">
                <div class="card-content">
                  <div class="content">
                    <p class="is-centered">Coming Soon</p>
                  </div>
                </div>
              </div>



            </div>

        </div>

        <!--Preview Section 2-->
        <h5 class="title is-5 gamestitle">SECTION 2</h5>
            <div class = "columns">
                  <div class="column is-3">

                    <div class="card cardgames" id="previewGame5">
                      <div class="card-content">
                        <div class="content">
                          <p class="is-centered">Coming Soon</p>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="column is-3">

                  <div class="card cardgames" id="previewGame6">
                    <div class="card-content">
                      <div class="content">
                        <p class="is-centered">Coming Soon</p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="column is-3">

                <div class="card cardgames" id="previewGame7">
                  <div class="card-content">
                    <div class="content">
                      <p class="is-centered">Coming Soon</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="column is-3">

              <div class="card cardgames" id="previewGame8">
                <div class="card-content">
                  <div class="content">
                    <p class="is-centered">Coming Soon</p>
                  </div>
                </div>
            </div>
          </div>
      </div>

       </section>

       <h4 class="title is-4 gamestitle">EXERCISES</h4>
       <section id="games-2">
                  <div class="columns">
            <div class="column is-3">

              <div class="card cardgames" id="exercisesGame1">
                <div class="card-content">
                  <div class="content">
                    <p class="is-centered">Coming Soon</p>
                  </div>
                </div>
              </div>



            </div>
            <div class="column is-3">

              <div class="card cardgames" id="exercisesGame2">
                <div class="card-content">
                  <div class="content">
                    <p class="is-centered">Coming Soon</p>
                  </div>
                </div>
              </div>



            </div>
            <div class="column is-3">

              <div class="card cardgames" id="exercisesGame3">
                <div class="card-content">
                  <div class="content">
                    <p class="is-centered">Coming Soon</p>
                  </div>
                </div>
              </div>



            </div>
            <div class="column is-3">

              <div class="card cardgames" id="exercisesGame4">
                <div class="card-content">
                  <div class="content">
                    <p class="is-centered">Coming Soon</p>
                  </div>
                </div>
              </div>



            </div>

        </div>

        <!--Exercises Section 2-->
        <h5 class="title is-5 gamestitle">SECTION 2</h5>
            <div class = "columns">
                  <div class="column is-3">

                    <div class="card cardgames" id="exercisesGame5">
                      <div class="card-content">
                        <div class="content">
                          <p class="is-centered">Coming Soon</p>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="column is-3">

                  <div class="card cardgames" id="exercisesGame6">
                    <div class="card-content">
                      <div class="content">
                        <p class="is-centered">Coming Soon</p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="column is-3">

                <div class="card cardgames" id="exercisesGame7">
                  <div class="card-content">
                    <div class="content">
                      <p class="is-centered">Coming Soon</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="column is-3">

              <div class="card cardgames" id="exercisesGame8">
                <div class="card-content">
                  <div class="content">
                    <p class="is-centered">Coming Soon</p>
                  </div>
                </div>
            </div>
          </div>
      </div>
       </section>

       <h4 class="title is-4 gamestitle">HOMEWORKS</h4>
       <section id="games-3">
        <div class="columns">
          <div class="column is-3">

            <div class="card cardgames" id="homeworksGame1">
              <div class="card-content">
                <div class="content">
                  <p class="is-centered">Coming Soon</p>
                </div>
              </div>
            </div>



          </div>
          <div class="column is-3">

            <div class="card cardgames" id="homeworksGame2">
              <div class="card-content">
                <div class="content">
                  <p class="is-centered">Coming Soon</p>
                </div>
              </div>
            </div>



          </div>
          <div class="column is-3">

            <div class="card cardgames" id="homeworksGame3">
              <div class="card-content">
                <div class="content">
                  <p class="is-centered">Coming Soon</p>
                </div>
              </div>
            </div>



          </div>
          <div class="column is-3">

            <div class="card cardgames" id="homeworksGame4">
              <div class="card-content">
                <div class="content">
                  <p class="is-centered">Coming Soon</p>
                </div>
              </div>
            </div>



          </div>

      </div>

      <!--Homeworks Section 2-->
      <h5 class="title is-5 gamestitle">SECTION 2</h5>
          <div class = "columns">
                <div class="column is-3">

                  <div class="card cardgames" id="homeworksGame5">
                    <div class="card-content">
                      <div class="content">
                        <p class="is-centered">Coming Soon</p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="column is-3">

                <div class="card cardgames" id="homeworksGame6">
                  <div class="card-content">
                    <div class="content">
                      <p class="is-centered">Coming Soon</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="column is-3">

              <div class="card cardgames" id="homeworksGame7">
                <div class="card-content">
                  <div class="content">
                    <p class="is-centered">Coming Soon</p>
                  </div>
                </div>
            </div>
          </div>
          <div class="column is-3">

            <div class="card cardgames" id="homeworksGame8">
              <div class="card-content">
                <div class="content">
                  <p class="is-centered">Coming Soon</p>
                </div>
              </div>
          </div>
        </div>
    </div>
       </section>

    </div>
